/*Application wide styling */
:root{
  margin:0px;
  padding:0px;
  /*color pallet */
  --Dark: #00201e;
  --Highlight: #3a5268;
  --emerald: #007F5F;
  --lightEmerald: #00E88A;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-image: url('https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_1280.jpg');
  background-repeat: repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Georgia', serif;
  color: #3b2f2f;
}

footer{
  position: relative;
  text-align: center;
  margin-top: auto;
  padding:1em;
}

#mainBody {
  flex: 1;
  padding: 2rem;
}
.webpageBody {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}